
extends layout

block content

	include account-form

	// display form errors in a custom modal window //

	include modals/form-errors
	include modals/alert
	include modals/confirm

block append scripts
	script(src='/js/views/account.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
