
extends layout

block content
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container-fluid
        ul#global-nav.nav.pull-left
          a(href='#').brand Flower Shop
        - if(udata) {
        button#btn-logout.btn.btn-primary
          i.icon-lock.icon-white
          | Logout
        - } else {
        button#btn-login-bar.btn.btn-primary
          i.icon-lock.icon-white
          | Login
        - }

  #container
    .form-container
      form.form-horizontal.well.span6
        fieldset
          label For general account info (name, password...) visit your <a href="/account">account page</a>.
    block homecontent




  include modals/alert
  include modals/confirm
