
extends home


block homecontent
  - var user = typeof(udata) != 'undefined' ? udata : { }
  #account-form-container
    form( method="post")#driver-form.form-horizontal.well.span6
      h1
      p#sub1.subheading Driver Specific Info
      hr
      fieldset
        #name-cg.control-group
          label.control-label(for='name-tf') Event Signal URL (ESL)
          .controls
            input#esl-tf.input-xlarge(type='text', name='esl', value= user.esl)
        .form-actions
          button(type='submit')#account-form-btn2.btn Submit
