
extends layout

block content

	#container You need to link your four square account to use this site by clicking <a href="#{foursquare_url}">here</a>.

	include modals/alert
	include modals/confirm

