

extends layout

block content
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
				ul#global-nav.nav.pull-left
					a(href='#').brand Flower Shop
				- if(udata) {
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Logout
				- } else {
				button#btn-login-bar.btn.btn-primary
					i.icon-lock.icon-white
					| Login
				- }


	#container
		- var lookingAtOwnProfile = typeof(udata) != "undefined" && profileuser.user === udata.user
		if lookingAtOwnProfile
			h2 Your most recent checkin data:
		else
			h2 #{profileuser.name}'s most recent checkin:
		ul#checkins
			- var numbertodisplay = lookingAtOwnProfile ? 10 : 1
			- if( numbertodisplay > checkins.length ) {
			- 	numbertodisplay = checkins.length;
			- }
			- for(i = 0; i < numbertodisplay; i++) {
			-	checkin = checkins[i];
				li: #{checkin.venue.name} near #{checkin.venue.location.city} saying #{checkin.shout}
			- }

	include modals/alert
	include modals/confirm
